.recruit-box {
    .toggle-space{
        display: none;
    }
    .toggle-button{
        padding: 10px 20px;
        color: #000;
        border: 1px solid #ccc;
        outline: none;
        line-height: 22px;
        transition: background-color 0.3s;
        cursor: pointer;
        &:hover{
          background-color: #f1f1f1;
        }
      }
      .toggle-content{
        display: none;
      
      }
      .show-space {
        display: block;
      }

}


