@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';
@import '../../node_modules/bootstrap/scss/functions';
@import './helpers/variables';
@import '../../node_modules/bootstrap/scss/bootstrap';





//helpers
@import 'helpers/mixin';

@import 'base/_base';

@import 'components/button';



.wrap-content{
    @include medium{
        width: 100%;
        height: 100vh !important;
    }
}

.content{
    width: 375px;
    height: 667px;
    background-size: cover !important;
    background-position: center !important;
    @include medium{
        width: 100vw;
        height: 100vh;
        min-height: 667px;
    }    
}
.home{
    background: url('../images/home-bg.png');
   
}
.instructions01{
    background: url('../images/instructions01.png');
}
.instructions02{
    background: url('../images/instructions02.png');
}
.points01{
    background: url('../images/points01.png');

}


.card01{
    position: absolute;
    right: 5%;
    top:40%;
    transform: translate(0,-40%);
    @include large{
        right:0 ;
        transform: translate(0,0) scale(0.8);

    } 
}
.card02{
    position: absolute;
    left: 5%;
    top:40%;
    transform: translate(0,-40%);
    @include large{
        left:0 ;
        transform: translate(0,0) scale(0.8);

    } 
}
