
.btn{
  border-radius: 30px !important;
  border: 1px solid #FFFFFF !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  box-sizing: border-box !important;
  color:#FFFFFF !important;
  font-size: 1.5rem !important;
  
  white-space:nowrap;
}
.btn-sm{
  height: 60px !important;
  padding: 0 2.75rem !important;
  display: block;
}
.btn-primary {
  background: linear-gradient(180deg, #FAE6C4 0%, #F6CF8E 100%);
 
}


.btn-secondary {
  background: linear-gradient(180deg, #A8D8DE 0%, #8FB5BA 50%);
 
}


