.part-contact{
    @include large{
        
       .card-text, .contact-text{
            width: 100% !important;
            padding: 0 !important;
       }
    }
    @include medium{
       .pc-contact{
        padding: 1rem !important;
        .card-text, .contact-text{
            margin: 0 !important;
        }
       }
       
    }

}